/* AdminPortal.module.css */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navPanel ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navPanel li {
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navPanel li:hover {
    color: #ff4d4f;
}

.navPanel button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff4d4f;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navPanel button:hover {
    background-color: #f5222d;
}

.mainContent {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sectionContent {
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sectionContent h2 {
    margin-bottom: 10px;
    color: #333;
}

.sectionContent p {
    margin-bottom: 20px;
    color: #666;
}

.navPanel {
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
}

.navPanelOpen {
    display: block;
}