.attendanceContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: sans-serif,'Comic Sans MS', cursive, sans-serif;
    background-color: #fef6e4;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #607cc3;
    margin-bottom: 20px;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.userInfo {
    background-color: #8bd3dd;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.userInfo p {
    margin: 0;
    font-size: 18px;
    color: #ffffff;
}

.userInfo span {
    font-weight: bold;
    color: #ffffff;
}

.subjectSection {
    margin-bottom: 30px;
}

.subjectTitle {
    color: #6c92c7;
    border-bottom: 3px dotted #8bd3dd;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 1.8em;
}

.attendanceCard {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

/* .attendanceCard:hover {
    transform: translateY(-5px) rotate(1deg);
} */

.attendanceHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.attendanceHeader h3 {
    color: #3c62c3;
    margin: 0;
    font-size: 1.5em;
}

.mobile {
    color: #8bd3dd;
    font-size: 16px;
}

.chartContainer {
    margin-bottom: 20px;
}

.attendanceStats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.statItem {
    text-align: center;
    background-color: #c9e4ef;
    padding: 10px;
    border-radius: 10px;
    min-width: 100px;
}

.statLabel {
    display: block;
    font-size: 14px;
    color: #001858;
    margin-bottom: 5px;
}

.statValue {
    font-size: 24px;
    font-weight: bold;
    color: #6781ca;
}

.absentDates {
    margin-top: 20px;
}

.absentLabel {
    font-weight: bold;
    color: #db1d1d;
    margin-bottom: 10px;
    display: block;
}

.absentDatesList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.absentDatePacket {
    background-color: #850d0d; /* Light pink */
    color: #d5bebe; /* Hot pink */
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9em;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(255, 105, 180, 0.2);
    transition: transform 0.2s ease;
}

.absentDatePacket:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(219, 87, 16, 0.3);
}






@media (max-width: 768px) {
    .attendanceContainer {
        padding: 15px;
    }

    .attendanceStats {
        flex-direction: column;
        align-items: center;
    }

    .statItem {
        margin-bottom: 10px;
        width: 80%;
    }
}