.container {
    background: linear-gradient(to right, #9b9b9b, #292828, #000000);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headerLogo {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    top: 0;
    width: auto;
    height: 75px;
    position: fixed;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000000;
    color: #f0f0f0;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.hamburger {
    /* display: none; */
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    color: #ffffff;
}

.hamburgerIcon {
    width: 25px;
    height: 2px;
    /* background-color: #a52424; */
    /* color: #c40e0e; */
    position: absolute;
    transition: all 0.3s;
}

.hamburgerIcon::before,
.hamburgerIcon::after {
    content: '';
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    right: 40px;

    transition: all 0.3s;
}

.hamburgerIcon::before {
    top: -8px;
}

.hamburgerIcon::after {
    bottom: -8px;
}

/* Toggle hamburger icon to X */
.hamburger.open .hamburgerIcon {
    background: transparent;
}

.hamburger.open .hamburgerIcon::before {
    transform: rotate(45deg);
    top: 0;
}

.hamburger.open .hamburgerIcon::after {
    transform: rotate(-45deg);
    bottom: 0;
}

.navList {
    display: flex;
    list-style: none;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
    margin-right: 20px;
    overflow: hidden;
}

.showMenu {
    max-height: 500px;
    /* Adjust as necessary to show the full menu */
}

.navList li {
    margin-left: 2rem;
}

.navList a {
    text-decoration: none;
    color: #fffafa;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #000000;
    color: whitesmoke;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdownContent {
    display: block;
}

/* Shutter animation */
@keyframes shutter {
    0% {
        max-height: 0;
    }

    30% {
        max-height: 20px;
    }

    60% {
        max-height: 100px;
    }

    100% {
        max-height: 500px;
        /* Adjust as necessary to show the full menu */
    }
}

.showMenu {
    animation: shutter 0.5s forwards;
}

/* Mobile Styles */
@media (max-width: 928px) {
    .hamburger {
        display: block;
    }

    .navList {
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: #000000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .navList li {
        margin: 1rem 0;
        text-align: center;
        color: #ffffff;
    }

    .dropdownContent {
        position: relative;
    }
}

/* Desktop Styles */
@media (min-width: 769px) {
    .hamburger {
        display: none;
    }

    .navList {
        max-height: none;
        display: flex;
    }
}

/* Slideshow Container */
.slideshowContainer {
    top: 100px;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

/* Slideshow Images Section */
.slideshow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.active {
    opacity: 1;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .slideshow {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .slideshow {
        height: 200px;
    }
}

/* Overlay Text */
.overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.overlay h2,
.overlay p,
.overlay button {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.active .overlay h2,
.active .overlay p,
.active .overlay button {
    opacity: 1;
}

.overlay h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 16px;
    margin-bottom: 20px;
}

.overlay button {
    padding: 10px 20px;
    background: linear-gradient(to left, #9b9b9b, #292828, #000000);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.overlay button:hover {
    background: linear-gradient(to right, #9b9b9b, #292828, #000000);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .overlay {
        padding: 15px;
    }

    .overlay h2 {
        font-size: 20px;
    }

    .overlay p {
        font-size: 14px;
    }

    .overlay button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .overlay {
        padding: 10px;
        bottom: 10px;
        left: 10px;
    }

    .overlay h2 {
        font-size: 18px;
    }

    .overlay p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .overlay button {
        font-size: 12px;
        padding: 6px 12px;
    }
}

/* Admission Pamphlets Section */
.admissionPamphlets {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-wrap: wrap;
    /* Added for responsiveness */
}

/* Left: Animated Admission Templates */
.admissionTemplates {
    flex: 1;
    margin-bottom: 20px;
    /* Added for responsiveness */
}

.admissionImage {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    margin-top: 15px;
    right: 0;
    left: 0;
}

/* Right: Attractive Container with Service Intro */
.servicesContainer {
    text-align: center;
    flex: 1;
    padding: 20px;
    background: linear-gradient(to right, #9b9b9b, #292828, #3b3b3b);
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    /* Added for responsiveness */
}

.servicesContainer h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.servicesContainer p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.aboutUsButton {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to left, #9b9b9b, #292828, #000000);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.aboutUsButton:hover {
    background: linear-gradient(to right, #9b9b9b, #292828, #000000);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .admissionPamphlets {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
        margin-top: 100px;
        /* Adjust top margin */
    }

    .admissionTemplates,
    .servicesContainer {
        flex: none;
        /* Reset flex value */
        width: 90%;
        /* Make each item take full width */
    }
}

@media (max-width: 480px) {
    .servicesContainer h2 {
        font-size: 1.2em;
        /* Decrease heading font size */
    }

    .servicesContainer p {
        font-size: 1em;
        /* Decrease paragraph font size */
    }

    .aboutUsButton {
        font-size: 0.9em;
        /* Decrease button font size */
        padding: 8px 16px;
        /* Decrease button padding */
    }
}

/* Why Choose A & G Section */
.whyChoose {
    background: linear-gradient(to left, #9b9b9b, #292828, #000000);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;
    text-align: center;
    padding: 20px;
}

.whyChoose h2 {
    text-align: center;
    font-size: 3em;
    color: #9fa078;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.whyChoose h2.visible {
    opacity: 1;
}

.features {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.feature {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.animated {
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .whyChoose h2 {
        font-size: 2.4em;
    }

    .feature {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .whyChoose h2 {
        font-size: 2em;
    }

    .features {
        gap: 10px;
    }

    .feature {
        width: 100%;
        padding: 15px;
    }
}

/* Our Programs Section */
.programsSection {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
    transform: translateY(40px);
    transition: opacity 0.5s, transform 0.5s;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.programsHeadingContainer {
    width: 100%;
    text-align: center;
    color: #9fa078;
    font-size: 35px;
}

.programsHeading {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
}

.programsContainer {
    width: 90%;
    padding: 40px;
    border-radius: 20px;
    background-color: #252525;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.programsDescription {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.exploreButton {
    background-color: #fff;
    color: #252525;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.exploreButton:hover {
    background-color: #252525;
    color: #fff;
}

.studentJourney {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.journeyImage {
    width: 100%;
    height: 100%;
    background-image: url('/journey-map-02_2x.png');
    background-size: cover;
    background-position: center;
}

.slogan {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.slogan p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.slogan p p {
    font-weight: bold;
    font-size: 30px;
}

.gradientLine {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #ff512f, #f09819);
    transform: rotate(-3deg);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .programsHeadingContainer {
        font-size: 28px;
    }

    .programsHeading {
        font-size: 2.4em;
    }

    .programsContainer {
        width: 90%;
        padding: 30px;
    }

    .programsDescription {
        font-size: 1em;
    }

    .exploreButton {
        padding: 12px 24px;
        font-size: 0.9em;
    }

    .studentJourney {
        height: 400px;
    }

    .slogan {
        padding: 20px;
    }

    .slogan p {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .slogan p p {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .programsHeadingContainer {
        font-size: 24px;
    }

    .programsHeading {
        font-size: 2em;
    }

    .programsContainer {
        padding: 20px;
    }

    .exploreButton {
        padding: 10px 20px;
        font-size: 0.8em;
    }

    .studentJourney {
        height: 300px;
    }

    .slogan {
        padding: 15px;
    }

    .slogan p {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .slogan p p {
        font-size: 20px;
    }
}

/* Our Trailblazers */
.trailBlazersSection {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 100px;
}

.sectionHeading {
    font-size: 2.5em;
    margin-bottom: 50px;
    color: #9fa078;
}

.profilesContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profile {
    width: 300px;
    margin-bottom: 50px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.profile:hover {
    transform: translateY(-5px);
}

.profileImage {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.profileDetails {
    padding: 20px;
}

.profileDetails h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.profileDetails p {
    margin-bottom: 5px;
    color: #666;
}

.feedback {
    font-style: italic;
    color: #777;
    font-size: 1.5em;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .sectionHeading {
        font-size: 2em;
        margin-bottom: 30px;
    }

    .profile {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .sectionHeading {
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    .profile {
        width: 100%;
    }

    .profileDetails h3 {
        font-size: 1.5em;
    }

    .feedback {
        font-size: 1.2em;
    }
}

/* CSS Styles for Footer */
.footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #333;
    padding: 50px 0;
}

.footerContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.contactUs,
.policies,
.license {
    flex: 1;
    padding: 0 20px;
    color: #fff;
    margin-bottom: 30px;
}

.contactUs h3,
.policies h3,
.license h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.contactUs p,
.policies ul {
    margin-bottom: 10px;
}

.policies ul {
    list-style-type: none;
    padding: 0;
}

.policies ul li {
    margin-bottom: 5px;
}

.policies ul li a {
    color: #fff;
    text-decoration: none;
}

.policies ul li a:hover {
    text-decoration: underline;
}

/* Copyright Line */
.copyright {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.copyright p {
    font-size: 14px;
    margin-top: 90px;
    margin-bottom: 0;
    color: #fff;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .footerContainer {
        flex-direction: column;
        align-items: center;
    }

    .contactUs,
    .policies,
    .license {
        text-align: center;
        margin-bottom: 30px;
    }

    .copyright p {
        margin-top: 20px;
    }
}