/* Notes.module.css */

.notesContainer {
    padding: 20px;
}

.searchBar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

.searchBar input:focus {
    outline: none;
    border-color: #4CAF50;
}

.searchHint {
    margin-top: 10px;
    color: #888;
    font-size: 0.9rem;
}

.chooseClass select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.chooseClass select:focus {
    outline: none;
}

.notesList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.noteItem {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.noteItem:hover {
    transform: translateY(-5px);
}

.noteItem h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

.noteItem h4 {
    margin-top: 5px;
    color: #666;
    font-size: 1.2rem;
}

.noteItem p {
    margin-top: 10px;
    color: #555;
}

.noteItem a {
    color: #2196F3;
    text-decoration: none;
}

.noteItem a:hover {
    text-decoration: underline;
}

.noteModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.pdfViewer {
    width: 100%;
    height: 100%;
    border: none;
}