@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

.container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifsans-serif,'Bubblegum Sans', cursive;
    background-color: #f2bfd8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
}

.nav {
    background-color: rgb(93, 93, 242);
    color: #ffffff;
    width: 100%;
    left: 0;
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid #8bd3dd;
}


.navList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.navItem {
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
}

.navItem:hover {
    background-color: #99bde8;
    /* transform: translateY(-2px) rotate(2deg); */
}

.navIcon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.navPanel {
    background-color: rgb(93, 93, 242);
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    margin-top: 20px;
    transition: left 0.3s ease-in-out;
    
}

.navPanel.open {
    left: 0;
}

.navPanel ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navPanel li {
    text-align: center;
    padding: 1rem;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.5rem;
}

.navPanel li:hover {
    background-color: #99bde8;
    /* transform: scale(1.05) rotate(2deg); */
}

.mainContent {
    flex: 1;
    padding: 2rem;
    background-color: #fef6e4;
    overflow-y: auto;
    
}

.sectionContent {
    background-color: #99bde8;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    transition: all 0.3s;
    border: 4px solid #8bd3dd;
    margin-top: 10vh;
}

.sectionContent:hover {
    /* transform: translateY(-5px) rotate(1deg); */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.hamburger {
    display: none;
    cursor: pointer;
    z-index: 1001;
    width: 30px;
    height: 20px;
    position: relative;
}

.hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #ffffff;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 0px;
}

.hamburger span:nth-child(2) {
    top: 8px;
}

.hamburger span:nth-child(3) {
    top: 16px;
}

.hamburger.open span:nth-child(1) {
    top: 8px;
    transform: rotate(135deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.hamburger.open span:nth-child(3) {
    top: 8px;
    transform: rotate(-135deg);
}

.logout {
    background-color: #36408b;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,'Bubblegum Sans', cursive;
    font-size: 1rem;
}

.logout:hover {
    background-color: #010a3c;
    /* transform: translateY(-2px) rotate(2deg); */
}

@media (max-width: 768px) {
    .nav {
        padding: 1rem 2rem;
    }

    .navList {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .navPanel {
        display: flex;
    }

    .mainContent {
        padding: 1rem;
    }

    .sectionContent {
        padding: 1.5rem;
    }
}