/* TeacherPortal.module.css */
.container {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #111;
    padding: 30px;
    margin: 0;
}

.container h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.dropdown {
    margin-bottom: 20px;
}

.dropdown label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.dropdown select {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: #fff;
}

.dropdown select option {
    background-color: #111;
    color: #fff;
}

.profile {
    margin-bottom: 40px;
}

.profile h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile p {
    font-size: 18px;
    margin-bottom: 5px;
}

.userData {
    margin-bottom: 40px;
}

.userData h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.userData p {
    font-size: 18px;
    margin-bottom: 5px;
}

.attendance {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.attendance div {
    padding: 20px;
    border-radius: 8px;
    background-color: #222;
}

.attendance h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.attendance p {
    font-size: 16px;
    margin-bottom: 5px;
}

.marksOptions {
    margin-top: 20px;
}

.marksOptions h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.marksOptions button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}



.marksOptions button:hover {
    background-color: #45a049;
}

.nav {
    background-color: #111;
    /* Dark blue background */
    padding: 10px 20px;
    /* Padding around the navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Slight shadow for depth */
    display: flex;
    justify-content: flex-start;
    /* Align items to the right */
}

.navpanel {
    display: flex;
    align-items: center;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav button {
    background-color: #ff4081;
    /* Pink background for the button */
    color: white;
    /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav button:hover {
    background-color: #f50057;
    /* Darker pink on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Shadow effect on hover */
}